@charset "EUC-KR";


	body{background: black;}
	/* 	떠오르는 효과 */	
	@keyframes fadeInUp {
	    from {
	        transform: translate3d(0,40px,0)
	    }
	    to {
	        transform: translate3d(0,0,0);
	        opacity: 0.6
	    }
	}
	
	@-webkit-keyframes fadeInUp {
	    from {
	        transform: translate3d(0,40px,0)
	    }
	    to {
	        transform: translate3d(0,0,0);
	        opacity: 0.6;
	    }
	}
	.animated {animation-duration: 1s; animation-fill-mode: both; -webkit-animation-duration: 1s; -webkit-animation-fill-mode: both}
	.animatedFadeInUp {opacity: 0;}
	.fadeInUp {opacity: 0; animation-name: fadeInUp; -webkit-animation-name: fadeInUp;}

	
	/*컨텐츠 박스 */
	#content-box{width:100%; height:3100px;}
	.content-sub-box{width:820px; height:670px; position: relative; background-color: #191919; top: -300px; background-color: #19191A; left: 50%; transform: translateX(-50%);}
	.content-section{width:100%; color:#fff;}
	.content-section-one{width:100%; 
		height:1000px;  margin:0 auto; 
		background:black;  
		background-image:url("${pageContext.request.contextPath}/resources/img/coding-924920.jpg"); 
		text-align: center; 
		background-repeat:no-repeat; background-position:center center; background-size:cover; background-attachment:fixed;}
	.content-section-two{height:1000px;background-repeat:no-repeat; background-position:top center; background-size:cover; background-attachment:fixed;}
	.content-section-three{height:1000px; background-repeat:no-repeat; background-position:bottom center; background-size:cover; background-attachment:fixed;}
	.content-section-four{height:70px;background-color: #313131;}
	.content-title{padding-top:60px;height:200px;position:relative;top:350px;width: 1100px; margin: 0 auto; background: black;}
	.content-sub-title {padding-bottom:100px;position:relative; top:270px; margin: 0 auto;width: 1100px; background-color: black;-ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;}
	.content-title p{font-size:58pt; color:#fff; font-weight:680; line-height: 1.6em;font-family: "NanumMyeongjo";}
	.content-sub-title p{font-size:24pt; color:#ffff; line-height: 1.5em;font-family: "NanumMyeongjo"}
	.my-skill{text-align: center; font-size: 14pt; font-weight: 560; margin: 0 auto;
    width: 1200px; position: relative; top: 300px; opacity: 0.6;background:black;    padding: 50px; }
	.my-skill div{display:inline-grid;display: inline-grid;
    grid-template-columns: 100px;
    margin: 40px 100px;}
	.my-skill h6{font-size:1.2em; color: #82B1C8;}
	.my-skill span{margin-right: 12px; color: #939DAB;}
	.my-skill h5,.my-portfolio h5{font-size: 2.0em;}
	.my-portfolio{text-align:center; font-size:15pt; padding-top:100px;}
	.my-portfolio span{margin-right: 12px; color: #939DAB;}
	.my-portfolio div{margin:35px auto; display:block; width:1170px; height:250px;padding:15px 15px; background-color: black;opacity: 0.8;}
	.my-portfolio div h1 {text-align: center;}
	.my-portfolio div p {margin: 20px 0}
	.content-section-two div h6 {margin-bottom: 20px;}
	.content-section-two div p { margin-bottom: 20px;}