@charset "UTF-8";
	/* 웹 폰트 */
	@font-face {
	font-family:ngwoff;
	src:url('/tpl/font/NanumGothic.woff')
	}
	@font_face {
	font-family:ngeot;
	src:url('/tpl/font/NanumGothic.eot');
	}
	@font-face {
	font-family:NanumGothic;
	src:url('/tpl/font/NanumGothic.ttf');
	}
/* 	클리어 코드 */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin:0; padding:0 }
	body, input, textarea, select, button, table { font-size:14px; font-family:'나눔고딕', NanumGothic, Helvetica, AppleGothic, Sans-serif, ngwoff, ngeot, '굴림', gulrem; }
	html, body { height: 100%; padding:0; margin:0; }
	img, fieldset { border:0 }
	ul, ol { list-style:none }
	em, address { font-style:normal }
	a { text-decoration:none }
	a:hover, a:active, a:focus { text-decoration:underline }
	